body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

#login-form {
    background-color: #eb7d7d;
    padding: 40px;
    width: 300px;
    height: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

#login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 150px;
    height: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    background-color: #393;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size:16px;
}

#login-form button:hover {
    background-color: #4caf50;
}